@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* hecho por sergio sanchez*@

@{
    ViewData["Title"] = "Hola Mundo Index";
}
<h1>Welcome</h1>
<h3 style="color:red;">To your doom!!</h3>

<p>This is your first day.</p>

@{
}
