@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Creado por: Sergio
*@
<h1>Tabla del numero</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Valor</th>
            <th>Incremento</th>
            <th>Operacion</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        @{
            var valor = (int)(ViewData["veces"]);
            string operacion;
            int resultado;
        }
        @for(int i = 1; i <= valor; i++)
        {
            operacion = $"{valor} * {i}";
            resultado = i * valor;
            <tr>
                <td>@valor</td>
                <td>@i</td>
                <td>@operacion</td>
                <td>@resultado</td>
            </tr>    
        }
    </tbody>
</table>

@{
}
