@model IEnumerable<ResumenViewModel>
<h2>Resumen</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Genero</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @{
            int total = 0;
        }
        @foreach(var gen in Model)
        {
            <tr>
                <td>@gen.Genero</td>
                <td>@gen.Cantidad</td>
                @{
                    total += gen.Cantidad; 
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total Discos</th>
            <th>@total</th>
        </tr>
    </tfoot>
</table>